<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Copyright 2019-2021 Vanessa Sochat-->
  {% include head.html %}
  


  <body class="td-section">
    {% include header.html %}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
         
          </div>
          <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
              <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
                  <!--right side of page -->
                  <a href="https://sc22.supercomputing.org"><img src="{{ "/assets/img/sc22_ver_black@4x.png" | prepend: site.baseurl }}" width="100px"></a>
                  <br>
                  <a href="http://hackhpc.org"><img src="{{ "/assets/img/HackHPC-logo.svg" | prepend: site.baseurl }}" width="100px"></a>
                  <br>
                  <a href="https://www.tacc.utexas.edu"><img src="{{ "/assets/img/tacc-black.png" | prepend: site.baseurl }}" width="100px"></a>
              </div>
              
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            <nav aria-label="breadcrumb" class="d-none d-md-block d-print-none">

	      <ol class="breadcrumb spb-1">
          
           </nav>
           <div class="td-content">        
           
            
	      {{ content }}	
            
              {% include feedback.html %}
           </div>
          </main>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
